In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
import os
import glob

In [25]:
#6103 Group Project
files = glob.glob("DM stock dataset\HDFCBANK NYSE\*.csv")
dfHBDNY = []
for f in files:
    csv = pd.read_csv(f)
    dfHBDNY.append(csv)
dfHBDNY = pd.concat(dfHBDNY)

In [26]:
dfHBDNY = dfHBDNY.reset_index(drop=True)

In [27]:
dfHBDNY

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,13.275000,13.348000,13.163000,13.346000,12.292129,2117000
1,2010-01-05,13.277000,13.403000,13.250000,13.403000,12.344630,1906000
2,2010-01-06,13.250000,13.510000,13.250000,13.463000,12.399892,1293000
3,2010-01-07,13.357000,13.689000,13.350000,13.678000,12.597914,2944000
4,2010-01-08,13.402000,13.750000,13.402000,13.719000,12.635674,1712000
...,...,...,...,...,...,...,...
3016,2021-12-27,63.580002,64.269997,63.250000,64.010002,63.285675,599700
3017,2021-12-28,64.180000,64.660004,63.779999,64.139999,63.414204,675500
3018,2021-12-29,63.790001,64.000000,63.270000,63.880001,63.157146,821600
3019,2021-12-30,64.610001,65.320000,64.129997,64.709999,63.977753,1149500
3020,2021-12-31,65.379997,65.580002,64.529999,65.070000,64.333679,1080600

In [28]:
files = glob.glob("DM stock dataset\HDFCBANK NSE\*.csv")
dfHBDN = []
for f in files:
    csv = pd.read_csv(f)
    dfHBDN.append(csv)
dfHBDN = pd.concat(dfHBDN)
dfHBDN = dfHBDN.reset_index(drop=True)
dfHBDN

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,170.000000,172.850006,169.255005,170.570007,155.755524,3050490.0
1,2010-01-05,171.000000,172.500000,170.500000,170.720001,155.892487,8386600.0
2,2010-01-06,171.399994,172.000000,168.809998,170.835007,155.997498,6639840.0
3,2010-01-07,176.839996,176.839996,170.160004,171.279999,156.403839,6123980.0
4,2010-01-08,171.199997,172.339996,170.100006,171.505005,156.609283,7085900.0
...,...,...,...,...,...,...,...
2964,2021-12-27,1428.900024,1454.000000,1422.150024,1450.800049,1434.125488,2352549.0
2965,2021-12-28,1460.699951,1466.900024,1453.400024,1460.800049,1444.010498,2725339.0
2966,2021-12-29,1456.050049,1461.000000,1447.400024,1453.849976,1437.140259,3834351.0
2967,2021-12-30,1458.500000,1466.849976,1445.000000,1461.500000,1444.702393,3607959.0
2968,2021-12-31,1461.500000,1484.800049,1461.500000,1479.400024,1462.396729,3162868.0